@media (max-width: 640px){
    .App {
        text-align:center;
        .App__header__logo {
        width: 80%;
        margin-top: 70px;
        display: inline-block;
        }
    }
    .container{
        margin-top: 39%;
        display:inline-block;
        width: 80%;
    }
    .raw {
        width: 100%;
        display: flex;
        float: left; }
      
    .main{
        padding: 0px 10px 10px 0px;
        width:100%;
        display: flex;
       
    .main__log{
        padding: 0px 0px 0px 0px;
        text-align:center;
        margin: auto;
        width: 100%;
        display: flex;
        font-size: 16px;
        font-weight: bold;
        font-family: 'Arial';
        border-radius: 40px;
        color: #fff;}
    }
    .main__logo__icon{
        padding: 15px 10px 10px 20px;
        height: 20px;
        margin-left: 1em;
    }
}