.noEventss{
    width:90%;
    display:block;
    margin:auto;
    text-align:center;
}
.noEventsLogo{
    width:263px;
    height:271px;
    text-align:center;
    display:block;
}
.noEventsText{
    font-family:"Champagne";
    color:$pink;
    font-size:30px;
    display:block;
}