@media (max-width: 640px) {
  .App {
    text-align: center; }
    .App .App__header__logo {
      width: 80%;
      margin-top: 70px;
      display: inline-block; }
  .container {
    margin-top: 39%;
    display: inline-block;
    width: 80%; }
  .raw {
    width: 100%;
    display: flex;
    float: left; }
  .main {
    padding: 0px 10px 10px 0px;
    width: 100%;
    display: flex; }
    .main .main__log {
      padding: 0px 0px 0px 0px;
      text-align: center;
      margin: auto;
      width: 100%;
      display: flex;
      font-size: 16px;
      font-weight: bold;
      font-family: 'Arial';
      border-radius: 40px;
      color: #fff; }
  .main__logo__icon {
    padding: 15px 10px 10px 20px;
    height: 20px;
    margin-left: 40px; } }

@media (min-width: 641px) and (max-width: 1070px) {
  .App {
    text-align: center; }
    .App .App__header__logo {
      width: 80%;
      margin-top: 70px;
      display: inline-block; }
  .container {
    margin-top: 60%;
    display: inline-block;
    width: 80%; }
  .raw {
    width: 100%;
    display: flex;
    float: left;
    margin-top: 20px; }
  .main {
    padding: 0px 10px 10px 0px;
    width: 100%;
    display: flex;
    margin: auto;
    text-align: center; }
    .main .main__log {
      padding: 10px 0px 10px 0px;
      text-align: center;
      margin: auto;
      width: 100%;
      display: flex;
      font-size: 30px;
      font-weight: bold;
      font-family: 'Arial';
      border-radius: 40px;
      color: #fff; }
  .main__logo__icon {
    padding: 25px 10px 10px 20px;
    height: 40px;
    margin-left: 20%; } }

.App {
  text-align: center; }
  .App .App__header__logo {
    width: 30%;
    margin-top: 70px;
    display: inline-block; }

.App__header {
  height: 150px;
  padding: 20px;
  color: white; }

.main__logo__icon {
  padding: 15px 10px 10px 20px;
  height: 30px;
  margin-left: 70px; }

.container {
  margin-top: 19%;
  display: inline-block;
  width: 80%; }

.raw {
  width: 49%;
  display: flex;
  float: left; }

.main {
  padding: 10px 10px 10px 10px;
  width: 100%;
  display: flex; }
  .main .main__log {
    padding: 10px 0px 10px 0px;
    text-align: center;
    margin: auto;
    width: 70%;
    display: flex;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Arial';
    border-radius: 40px;
    color: #fff; }
    .main .main__log.google {
      background-color: #ED1E79; }
    .main .main__log.facebook {
      background-color: #0071BC; }

@media (max-width: 640px) {
  .App {
    text-align: center; }
    .App .App__header__logo {
      width: 80%;
      margin-top: 70px;
      display: inline-block; }
  .container {
    margin-top: 39%;
    display: inline-block;
    width: 80%; }
  .raw {
    width: 100%;
    display: flex;
    float: left; }
  .main {
    padding: 0px 10px 10px 0px;
    width: 100%;
    display: flex; }
    .main .main__log {
      padding: 0px 0px 0px 0px;
      text-align: center;
      margin: auto;
      width: 100%;
      display: flex;
      font-size: 16px;
      font-weight: bold;
      font-family: 'Arial';
      border-radius: 40px;
      color: #fff; }
  .main__logo__icon {
    padding: 15px 10px 10px 20px;
    height: 20px;
    margin-left: 40px; } }

@media (min-width: 641px) and (max-width: 1070px) {
  .App {
    text-align: center; }
    .App .App__header__logo {
      width: 80%;
      margin-top: 70px;
      display: inline-block; }
  .container {
    margin-top: 60%;
    display: inline-block;
    width: 80%; }
  .raw {
    width: 100%;
    display: flex;
    float: left;
    margin-top: 20px; }
  .main {
    padding: 0px 10px 10px 0px;
    width: 100%;
    display: flex;
    margin: auto;
    text-align: center; }
    .main .main__log {
      padding: 10px 0px 10px 0px;
      text-align: center;
      margin: auto;
      width: 100%;
      display: flex;
      font-size: 30px;
      font-weight: bold;
      font-family: 'Arial';
      border-radius: 40px;
      color: #fff; }
  .main__logo__icon {
    padding: 25px 10px 10px 20px;
    height: 40px;
    margin-left: 20%; } }
