body{
  background-image: url('../view/images/Background.png');
}
a{width: 100%;}
.App {
    text-align:center;
    
    .App__header__logo {
     width: 30%;
    margin-top: 70px;
    display: inline-block;
    }
  }
.App__header {
    height: 150px;
    padding: 20px;
    color: white;
  }
  @import '../devices/phone.scss';
  @import '../devices/tablet.scss';


