.main__logo__icon{
    padding: 15px 10px 10px 20px;
    height: 30px;
    margin-left: 70px;
}

.container{
    margin-top: 19%;
    display:inline-block;
    width: 80%;
}

.raw{
    width:49%;
    display: flex;
    float: left
}
.main{
    padding: 10px 10px 10px 10px;
    width:100%;
    display: flex;
.main__log{
    padding: 10px 0px 10px 0px;
    text-align:center;
    margin: auto;
    width: 70%;
    display: flex;
    font-size: 19px;
    font-weight: bold;
    font-family: 'Arial';
    border-radius: 40px;
    color: #fff;
    &.google{

        background-color: #ED1E79;
       
    }
    &.facebook{
        background-color:#0071BC;
     }
}
}

@import '../devices/phone.scss';
@import '../devices/tablet.scss';
