@import '../devices/phone.scss';
@import '../devices/tablet.scss';
@import '../devices/desktop.scss';

.container{
    margin-top: 19%;
    display:inline-block;
    width: 80%;
}
.raw{
    width:49%;
    display: flex;
    float: left
}
.main{
    display: flex;
    width: 100%;
}
.main__log{
    margin: auto;
    width: 70%;
    display: flex;
    background-color: #0071BC;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Arial';
    border-radius: 40px;
}
.main__log__google{
    margin: auto;
    width: 70%;
    display: flex;
    background-color: #ED1E79;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Arial';
    border-radius: 40px;
}
.main__log__text{
    margin: auto;
    width: 80%;
    color: white;
    padding: 10px 10px 10px 0px;

} 

/* icon style fb/google*/


.main__logo__icon{
    padding: 10px 0px 10px 20px;
    height: 25px;
   
    margin-left: 70px;
}


@media (max-width:1024px){
  
    
    .main{
        margin: auto;
        width: 100%;
    }
    .main__log,  .main__log__google{
        width: 100%;
        display: flex;
        margin: auto;
    }
    .raw{
        width:100%;
        display: flex;
        float: left
    }
    .main__logo__icon{
        padding: 10px 0px 10px 20px;
        height: 25px;
       
       margin-left: 10%;
    }
    .container{margin-top: 60%;}
    .main{
        padding-top: 10px;
    }
}
@media (min-width:1025px){
.main__log:hover{
    background-color: rgb(5, 109, 179);
    box-shadow: 0px 0px 7px rgb(5, 7, 8);
}
.main__log__google:hover{
    background-color: rgb(219, 28, 111);
    box-shadow: 0px 0px 7px rgb(5, 7, 8);
}
.main__log__text{
    margin: auto;
    width: 80%;
    color: white;
    padding: 20px 30px 20px 0px;
}
.main__log, .main__log__google{
    font-size: 20px ;
} 
.main__logo__icon{
    padding: 20px 0px 10px 20px;
    height: 25px;
   
   margin-left: 10%;
}


}

