$pink: #ED1E79;
$text-margin : 7%;
$text-top-margin: 0px;
$image-margin-top: 0%;

@mixin arrow($direction, $size, $color) {
    content: ""; // ensures the arrows are visible

    // ensures the size of the arrows is correct:
    width: 0;
    height: 0;

    // Lists for positions/directions
    $directions: ('down', 'left', 'up', 'right');
    $positions: ('top', 'right', 'bottom', 'left');

    // Loop through each position
    @each $position in $positions {
        // Calculate the index of the position in the list
        $index: index($positions, $position);

        // If the position matches the direction, render a colored border
        @if nth($directions, $index)==$direction {
            border-#{$position}: $size solid $color;
        }

        @else {
            border-#{$position}: $size solid transparent;
        }
    }
}

.Card {
    background-color: white;
    width: 90%;
    height: 121px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 40px;
    box-shadow: 0px 0px 10px gray;
    .text {
        font-family: "Champagne";
        width: 90%;
        color: $pink;
        font-size: 30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-top:15px;
        //margin-top:$text-top-margin;

        .location {
            order: 1;
            margin-left: $text-margin;
            margin-bottom: 0;
            margin-top:0;
        }

        .time {
            order: 2;
            margin-right: 5%;
            margin-bottom: 0;
            margin-top:0;
        }
    }

    .CardRow {
        display: flex;

        //align-items:center;
        .text {
            order: 1;
        }
        .arrow-down {
            margin-right: 5%;
            @include arrow(down, 17px, $pink);
            order: 2;
            margin-top:25px;
        }
        .arrow-down:hover {
            margin-right: 5%;
            margin-top:25px;
            @include arrow(down, 17px, pink);
            order: 2;
        }
    }
}

.Card {
    .images {
        margin-right: 14%;
        img {
            width: 47px;
            height: 47px;
            margin-top: $image-margin-top;
            margin-right:1%;
            float: right;
            float: bottom;
        }
        img:hover {
            width: 47px;
            height: 47px;
            margin-top: 1px;
            margin-right:1%;
            float: right;
            float: bottom;
        }
    }
}

.Card:hover {
    box-shadow: 0px 0px 10px black;
}

@font-face {
    font-family: "Champagne";
    src: url('./Champagne.ttf')
}